/*The theme main file*/

:root {
  --color-primary: #FFCC00;
  --color-secondary: #121212;
  --color-bg: black;
  --color-code: greenyellow;
  --color-text-default: white;
  --color-lightwhite: hsla(0,0%,100%,.12);
  --sidenav-sm-height: 205px;
  --sidenav-max-width: 243px;
  --sidenav-md-width: 205px;
}
