ul, ol { 
  padding: 0 8px;
  margin: 0 10px;
}

ul{
  list-style: disc;
}

ol{
  list-style: auto;
}

figure figcaption > h4{
  font-size: 1.25rem;
  text-align: center;
}
figure img {
  margin: 0 auto;
} 
#post-content > p {
  @apply my-2;
}
/*Default anchors for contents*/
.a-markdown{
  color: var(--color-primary);
}
.a-markdown:hover{
  text-decoration: underline;
}

/* Code rendering related */
#post-content p > code, #post-content li > code{
  font-weight: 500;
  background-color: var(--color-secondary);
  border-radius: 3px;
  padding: 4px;
  color: greenyellow;
}

.highlight > pre{
  overflow-x: auto;
}
.code-color{
  color: greenyellow;
}

#tableofcontents{
  min-width: 180px;
  max-width: 230px;
}

#TableOfContents ul{
  list-style: none;
  margin: 0;
}

