{{ define "main" }}
<article class="m-2">

  {{ range .Pages.GroupBy "Type" }}
    <!-- Add Custom Headers -->

    {{ if eq .Key "MINI-PROJECT"}} 
      {{ partial "project-type-header.html" (dict "title" "Miniprojects" "description" "Projects done to get freecodecamp certifications")}}

    {{ else if eq .Key "WORK-PROJECT" }}
      {{ partial "project-type-header.html" (dict "title" "Work projects" "description" "Projects that I've been employed")}}

    {{ else }}
      {{ partial "project-type-header.html" (dict "title" .Key) }}

    {{ end }}

    <!-- Display project-cards in a grid layout -->
    <div class="grid gap-3 lg:grid-cols-3 xl:grid-cols-3 md:grid-cols-2 md:gap-2 sm:gap-2 sm:grid-cols-none">
    {{ range .Pages }}
      {{ partial "project-card.html" .Params }}    
    {{ end }}
      </div>
  {{ end }}

  <!-- Harcoded project types -->
  <h1 class="text-5xl">Others</h1>
  <hr class="hr-white mb-4">
  <p>
    See my
    <a href="https://codepen.io/diegosanchezp_/" class="highlight-a my-2 font-bold" target="_blank">codepen</a>
    profile
  </p>
{{ end }}
