ul, ol { 
  padding: 0 8px;
  margin: 0 10px;
}

ul{
  list-style: disc;
}

ol{
  list-style: auto;
}

figure figcaption > h4{
  font-size: 1.25rem;
  text-align: center;
}
figure img {
  margin: 0 auto;
} 
#post-content > p {
  @apply my-2;
}
/*Default anchors for contents*/
.a-markdown{
  color: var(--color-primary);
}
.a-markdown:hover{
  text-decoration: underline;
}

/* Code rendering related */
#post-content p > code, #post-content li > code{
  background-color: var(--color-secondary);
  color: var(--color-code);
}

@screen xl{
  #post-content p > code, #post-content li > code{
  /* purgecss ignore current */
    border-radius: 3px;
    padding: 4px;
  }
}

.highlight > pre{
  /* purgecss ignore current */
  overflow-x: auto;
}

.code-color{
  /* purgecss ignore current */
  color: var(--color-code);
}

#tableofcontents{
  min-width: 180px;
  max-width: 230px;
}

#TableOfContents ul{
  list-style: none;
  margin: 0;
}

/*Responsive styles */
@screen smmd{
  .highlight {
    font-size: .875rem;
  }
}
