{{ define "main" }} 

<article class="place-self m-2 sm:h-screen">
  <section class="sm:place-self flex sm:justify-center">
    <div class="mb-0 mt-0">
      <p>{{ T "whoIsDiego1" | safeHTML }}</p>
      <p>{{ T "whoIsDiego2" | safeHTML }}</p>
    </div>
    <img class="sm:self-center sm:w-20 sm:h-20 sm:self-center w-32" src="/Images/UCVLogo.png" alt="UCV Logo">
  </section>
  <div class="center-horizontal">
		<a class="sm:place-self text-center" href="http://www.computacion.ciens.ucv.ve/pensum2k/docs/Plan%20de%20Estudios-aprobadoCU%20Revisado20-01-2005.pdf" target="_blank">
    {{ partial "button.html" (dict "content" (T "seeCurriculum") "class" "my-2") }}
    </a>
  </div>
</article>
{{ end }} 
