{{ define "main"}}
<article class="grid grid-cols-2 gap-2 px-2" style="height: fit-content">

	<a href="https://www.coursera.org/account/accomplishments/certificate/FUF5A6SNBHQC" title="Duke University" target="_blank">
		<img src="/Images/DSMScertificate.png" alt="Duke University certification">
	</a>
	<a href="https://learndigital.withgoogle.com/digitalgarage/validate-certificate-code" title="Fundamentals of Digital Marketing" target="_blank">
		<img src="/Images/FDMcertificate.png" alt="Fundamentals of Digital Marketing certification">
	</a>
	<a href="https://www.freecodecamp.org/certification/diegosanchez/responsive-web-design" title="FCC: Responsive Web Design" target="_blank">
		<img src="/Images/RWDcertificate.png" alt="FCC Responsive Web Design certification">
	</a>
	<a href="https://www.freecodecamp.org/certification/diegosanchez/front-end-libraries" title="FCC: Front End Libraries" target="_blank">
		<img src="/Images/FELcertificate.png" alt="FCC: Front End Libraries certification">
	</a>

</article>
{{ end }}
