.sidenav{
  background-color: var(--color-secondary);

  /*Hide Scrollbars But Keep Functionality*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Hide Scrollbars But Keep Functionality*/
.sidenav::-webkit-scrollbar{
  display: none;
}

.sidenav-icons img {
  max-width: 100%;
  min-width: 45px;
  filter: invert(96%) sepia(100%) saturate(18%) hue-rotate(326deg) brightness(106%) contrast(104%);
}

/*Current page selected*/
.sidebar-nav-item-active{
  /* purgecss ignore current */
  box-shadow: 0px 0px 20px var(--color-lightwhite);
}

@screen sm{
  .sidenav-icons img{
    margin: 0 10px;
    min-width: 25px;
  }
  .sidenav{
    max-height: var(--sidenav-sm-height);
  }
}

@screen md{
  .sidenav-icons img{
    margin: 0 10px;
    min-width: 25px;
  } 

  .sidenav-profile div{
    justify-self: center;
  }
}
