{{ define "blog-content" }}
  <!-- Note: this elements are direct children of <body> -->

  <section id="post-title" class="smmd:p-2">
    <h1>{{ .Title }}</h1>
    <time datetime="{{.Date}}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ if ne .Lastmod .Date }}
    <p>Last modified: <time datetime="{{.Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time></p>
    {{ end }} 
    <!-- List blog categories -->
    <div class="flex my-2">
      {{ $class := "border bord-white p-1 font-bold capitalize border-solid mr-2" }}
      {{ range $elem_index,$_ := .GetTerms "categories" }}
        {{ if eq $elem_index 0 }}
        <a href="{{ .RelPermalink }}" class="{{$class}}">{{ .LinkTitle }}</a>
        {{ else }}
        <a href="{{ .RelPermalink }}" class="{{$class}}">{{ .LinkTitle }}</a>
        {{ end }}
      {{ end }}
    </div>
  </section>

  <main id="post-content" class="xl:text-xl lg:text-lg md:text-lg  smmd:p-2">
    {{ .Content }}
  </main>

  <aside id="tableofcontents">
    <b>Table of contents</b>
    {{ .TableOfContents }}
  </aside>

  <!-- Quick navigation menu -->
  {{ partial "blog/quick-nav.html" }} 

{{ end }}

