.sidenav{
  background-color: var(--color-secondary);
  min-width: 243px;

  /*Hide Scrollbars But Keep Functionality*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Hide Scrollbars But Keep Functionality*/
.sidenav::-webkit-scrollbar{
  display: none;
}

.sidenav-icons img {
  max-width: 100%;
  min-width: 45px;
  filter: invert(96%) sepia(100%) saturate(18%) hue-rotate(326deg) brightness(106%) contrast(104%);
}

