/* Default styles overrides */

body{
  background-color: var(--color-bg);
  color: var(--color-text-default);
  font-family: 'Roboto-Regular';
}
h1{ font-size: 4rem; }

h2{ font-size: 3rem; }

h3{ font-size: 2.25rem; }

h4{ font-size: 1.875rem; }

h5{ font-size: 1.5rem; }

h6{ font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6{
  font-weight: 0;
}

hr{
  border-top-color: var(--color-lightwhite);
}

::selection {
  color: black;
  background: var(--color-primary);
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: var(--color-primary);
}

.body-main{
  grid-template-columns: 243px auto;
  grid-template-rows: minmax(auto, 100%);
}

/*styles for sm and md*/
@media (min-width: 0px) and (max-width: 640px), (min-width: 641px) and (max-width: 768px){
  h1{ @apply text-4xl; }
  h2{ @apply text-3xl; }
  h3{ @apply text-2xl; }
}

@screen sm{
  .body-main{
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@screen md{
  .body-main{
    grid-template-columns: 200px auto;
  }
}

