body{
  background-color: var(--color-bg);
  color: var(--color-text-default);
  font-family: 'Roboto-Regular';
}

hr{
  border-top-color: var(--color-lightwhite);
}

.body-main{
  grid-template-columns: 243px auto;
  grid-template-rows: minmax(auto, 100%);
}

@screen sm{
  .body-main{
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@screen md{
  .body-main{
    grid-template-columns: 200px auto;
  }
}

