body{
  background-color: var(--color-bg);
  color: var(--color-text-default);
  font-family: 'Roboto-Regular';
}

hr{
  border-top-color: var(--color-lightwhite);
}

main{
  display: grid; 
  grid-template-columns: 243px auto;
}
